
 <h1> Hi, I am<br>
  NADIRA THOHA<br>
   a full stack developer</h1>








<div class="sec1">
<p>
    High level experience in web design and development <br> providing  quality work
</p>

    <button id="hire">Hire Me</button>
</div>

<div class="sec2" @fade>
    <h2>Services:</h2><br>
    
    <p>
        Front-end Languages and Frameworks. HTML and CSS<br>
Backend Technologies and Frameworks. JavaScript and its environments like NodeJS and ExpressJS<br>
Database Management Systems<br>
Web Hosting<br>
</p>
</div>
 
<!-- section 3 -->
<div class="sec3">
<h3>WHAT CLIENT SAY about us<br></h3>
<div class="card-group">

  <div class="card">
    <img src="../../assets/images/test4.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card">
    <img src="../../assets/images/test5.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../../assets/images/test6.jpg" class="card-img-top" alt="...">
   </div>
</div>
</div>
